.navbar {
    background-color: black;
    color: white;
    border-radius: 999px;
    padding: 5px;
    box-shadow: 0 3px 15px rgba(255, 255, 255, 0.05);
    display: flex;
    align-items: center;

    .nav-list {
        gap: 0.5rem;

        a {
            display: block;
        }

        .active {
            color: black;
        }
    }
}