.navbar {
    top: 1rem;
    left: 50%;
    background-color: black;
    color: white;
    border-radius: 1000px;
    overflow: hidden;
    box-shadow: 0 3px 15px rgba(255, 255, 255, 0.05);

    .nav-list {
        gap: 0.5rem;
        padding: 5px;

        .nav-item {
            padding: 0.5rem 1rem;
            cursor: pointer;
        }

        .active {
            transition: all 0.3s ease;
            // background-color: white; 
            // border-radius: 1000px;
            color: black;
        }
    }
}