.btn {
    &-primary {
        background: linear-gradient(0deg, var(--color-primary) 0%, var(--color-secondary) 100%);
        border-radius: 1000px;
        padding: 0.75rem 1.5rem;
        border: 1px solid var(--color-primary);
        color: white;
        font-weight: 700;
        cursor: pointer;
        gap: 0.75rem;
    }
}