.btn {
    background: linear-gradient(0deg, var(--color-primary) 0%, var(--color-secondary) 100%);
    border-radius: 1000px;
    padding: 0.75rem 1.5rem;
    border: 1px solid var(--color-primary);
    color: white;
    cursor: pointer;
    gap: 0.75rem;


    &-primary {
        background: linear-gradient(0deg, var(--color-primary) 0%, var(--color-secondary) 100%);
        border-radius: 1000px;
        padding: 0.75rem 1.5rem;
        border: 1px solid var(--color-primary);
        color: white;
        cursor: pointer;
        gap: 0.75rem;
    }

    &-outline {
        background: none;
        background-color: white;
        color: var(--color-capsule);
    }

    &-lg {
        padding: 1rem 2rem;
        gap: 1rem;
    }

    &-md {
        padding: 0.75rem 1.5rem;
        gap: 0.75rem;
    }

    &-sm {
        padding: 0.5rem 0.75rem;
        font-size: var(--text-small);
        gap: 0.5rem;
    }

    svg {
        width: 1.25rem;
        height: 1.25rem;
    }

    @media (max-width:640px) {
        // padding: 0.625rem 1.5rem;

        svg {
            width: 1rem;
            height: 1rem;
        }
    }
}