.hero-section {
    background-color: var(--bg-primary);
    background-image: repeating-linear-gradient(rgba(10, 102, 194, 0.1) 0%,
            rgba(10, 102, 194, 0.1) 1px,
            transparent 1px,
            transparent 50%),
        repeating-linear-gradient(90deg,
            rgba(10, 102, 194, 0.1) 0%,
            rgba(10, 102, 194, 0.1) 1px,
            transparent 1px,
            transparent 50%);
    background-size: 150px 150px;
    background-position: center;

    .profile {
        border-radius: 20px;
        border: 3px solid white;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
        transform: rotate(-5.8deg);
    }
}