.posts-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    .posts-grid {
        display: grid;
        grid-template-columns: 1.5fr 1fr 1fr;
        gap: 15px;
        align-items: stretch;
        width: 100%;
    }
}

/* ---------- Card Base ---------- */
.post-card {
    height: 100%;
    background-color: var(--bg-secondary);
    padding: 15px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;

    img {
        border-radius: 15px 15px 0 0;
        width: 100%;
        aspect-ratio: 16 / 9;
        z-index: 0;
    }

    /* ---------- Content ---------- */
    .post-content {
        background-color: var(--color-gray);
        border-radius: 20px;
        padding: 1rem;
        margin-top: -1.5rem;

        display: flex;
        flex-direction: column;
        flex: 1;
        z-index: 1;

        .header {
            font-size: var(--text-h5);
            margin-bottom: 0.5rem;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }

        .description {
            color: var(--text-secondary);
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }

        /* ---------- Footer ---------- */
        .post-footer {
            margin-top: auto;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .date {
                font-size: var(--text-small);
                color: var(--text-secondary);
            }
        }
    }

    /* ---------- Featured Modifier ---------- */
    &.post-card-featured {
        .post-content {
            .header {
                -webkit-line-clamp: 1;
            }

            .description {
                -webkit-line-clamp: 2;
            }
        }
    }
}

/* ---------- Responsive ---------- */
@media (max-width: 1024px) {
    .posts-section {
        .posts-grid {
            grid-template-columns: 1fr 1fr;
        }
    }

    .post-card {
        &.post-card-featured {
            .post-content {
                .header {
                    -webkit-line-clamp: 2;
                }

                .description {
                    -webkit-line-clamp: 4;
                }
            }
        }
    }
}

@media (max-width: 640px) {
    .posts-section {
        .posts-grid {
            grid-template-columns: 1fr;
        }
    }
}

[data-theme="dark"] {
    .post-card {
        img {
            filter: brightness(85%);
        }
    }
}