.projects-wrapper {
    .projects-row {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
        align-items: stretch;
        width: 100%;

        .project-card {
            height: 100%;
            background-color: var(--bg-secondary);
            // background-color: red;
            padding: 15px;
            border-radius: 30px;
            display: flex;
            flex-direction: column;

            img {
                width: 100%;
                aspect-ratio: 16 / 9;
                object-fit: cover;
                border-radius: 15px;
                z-index: 0;
            }

            .project-content {
                margin-top: 1rem;
                display: flex;
                flex-direction: column;

                .header {
                    font-size: var(--text-h5);
                    margin-bottom: 0.5rem;

                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                }

                .description {
                    color: var(--text-secondary);

                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                }

                .project-footer {
                    margin-top: auto;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .date {
                        font-size: var(--text-small);
                        color: var(--text-secondary);
                    }
                }
            }
        }
    }
}

@media (max-width: 640px) {
    .projects-wrapper {
        .projects-row {
            grid-template-columns: 1fr;
        }
    }
}

[data-theme="dark"] {
    .project-card {
        img {
            filter: brightness(85%);
        }
    }
}