@use "tailwindcss" as tailwind;

// Base styles
@use "base/typography" as typography;
@use "base/variables" as variable;

// Layout styles
@use "layout/footer" as footer;
@use "layout/navbar" as navbar;

// Section styles
@use "sections/hero" as hero;

// Component styles
@use "ui/button" as ui;
@use "ui/capsule" as capsule;

body {
    font-size: var(--text-body);
    background-color: var(--bg-primary);
    color: var(--text-primary);
    transition: background-color 0.3s, color 0.3s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}