@use "tailwindcss" as tailwind;

// Base styles
@use "base/typography" as typography;
@use "base/variables" as variable;

// Layout styles
@use "layout/footer" as footer;
@use "layout/navbar" as navbar;

// Section styles
@use "sections/home/hero" as hero;
@use "sections/home/post" as post;
@use "sections/home/project" as project;
@use "sections/home/quote" as quote;
@use "sections/home/skill" as skill;

@use "sections/article/body" as body;
@use "sections/article/header" as header;
@use "sections/article/toc" as toc;
@use "sections/article/breadcrumb" as breadcrumb;

// Component styles
@use "ui/button" as ui;
@use "ui/capsule" as capsule;

body {
  font-size: var(--text-body);
  background-color: var(--bg-primary);
  color: var(--text-primary);
  transition:
    background-color 0.3s,
    color 0.2s;
}