.article-layout {

  h2,
  h3 {
    scroll-margin-top: 165px;
  }

  .content {
    background-color: var(--bg-secondary);

    .main-image {
      img {
        margin-bottom: 2rem;
        border-radius: 30px;
        border: 2px solid var(--color-primary-light);

        @media (max-width: 768px) {
          border-radius: 15px;
          margin-bottom: 1rem;
        }
      }
    }

    .detail {

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        margin-bottom: 0.5rem;
        margin-top: 1.25rem;
        color: var(--text-primary);
      }

      h2 {
        font-size: var(--text-h4);
        line-height: var(--text-h4-line-height);
      }

      h3 {
        font-size: var(--text-h5);
        line-height: var(--text-h5-line-height);
      }

      p {
        margin-bottom: 0.5rem;
        color: var(--text-secondary);
      }

      a {
        color: var(--color-primary);
        text-decoration: underline;
      }

      li {
        margin-bottom: 0.25rem;
        list-style-type: disc;
        margin-left: 1.5rem;
        color: var(--text-secondary);
      }

      hr {
        margin: 1rem 0;
        color: #cccccc;
      }

      pre {
        margin-bottom: 1rem;
        margin-top: 1rem;

        //   background-color: #202020;
        //   color: white;
        //   paddirng: 1rem;
        code {
          border-radius: 0.5rem;
          // background-color: rgb(231, 231, 231);
          font-size: var(--text-small);
        }
      }

      p {
        code {
          background-color: var(--color-gray);
          border-radius: 0.5rem;
          padding: 0.1rem 0.2rem;
        }
      }

      blockquote {
        background-color: var(--bg-primary);
        padding: 1.5rem;
        margin: 1.5rem 0;

        border-left: 3px solid var(--color-capsule);

        p {
          margin: 0;
          color: var(--color-capsule);
        }
      }
    }
  }
}