.article-layout {
  .toc {
    ul {
      border-left: 2px solid var(--color-primary-light);

      li {
        padding-left: 1rem;
        margin-left: -2px;
        margin-bottom: 0.75rem;
        border-left: 3px solid #00000000;

        &.active {
          font-weight: 700;
          border-left: 3px solid var(--color-primary);
          //   transition: all 0.5s ease;

          a {
            // margin-left: -3px;
            color: var(--color-primary);
          }
        }

        &.has-child {
          a {
            padding-left: 1rem;
          }
        }

        a {
          text-decoration: none;
          display: block;
        }
      }
    }
  }
}