:root {
    --color-primary: #4285f4;
    --color-primary-light: #c8ddff;
    --color-secondary: #83b2ff;
    --color-gray-dark: #5a5b5d;

    --color-success: #34a853;
    --color-warning: #fbbc04;
    --color-error: #ea4335;
    --color-info: var(--color-primary);

    --bg-primary: #ffffff;
    --bg-secondary: #f6f9ff;
    --text-primary: #000000;
    --text-secondary: #333333;
    --text-gray: var(--color-gray-dark);

    --text-h1: 2.5rem;
    --text-h2: 2rem;
    --text-h3: 1.75rem;
    --text-h4: 1.5rem;
    --text-h5: 1.25rem;
    --text-h6: 1rem;
    --text-body: 1rem; //16px
    --text-small: 0.875rem; //14px

    --text-h1-line-height: 3.5rem;
    --text-h2-line-height: 3rem;
    --text-h3-line-height: 2.75rem;
    --text-h4-line-height: 2.5rem;
    --text-h5-line-height: 2rem;
    --text-h6-line-height: 1.625rem;
}

@media (max-width: 1024px) {
    :root {
        --text-h1: 2rem;
        --text-h2: 1.875rem;
        --text-h3: 1.625rem;
        --text-h4: 1.375rem;
        --text-h5: 1.125rem;
        --text-h6: 1rem;
        --text-body: 1rem;
        --text-small: 0.875rem;

        --text-h1-line-height: 3rem;
        --text-h2-line-height: 2.75rem;
        --text-h3-line-height: 2.5rem;
        --text-h4-line-height: 2.25rem;
        --text-h5-line-height: 1.875rem;
        --text-h6-line-height: 1.5rem;
    }
}

@media (max-width: 640px) {
    :root {
        --text-h1: 1.875rem;
        --text-h2: 1.75rem;
        --text-h3: 1.5rem;
        --text-h4: 1.25rem;
        --text-h5: 1rem;
        --text-h6: 0.875rem;
        --text-body: 0.875rem;
        --text-small: 0.75rem;

        --text-h1-line-height: 2.75rem;
        --text-h2-line-height: 2.25rem;
        --text-h3-line-height: 2rem;
        --text-h4-line-height: 1.75rem;
        --text-h5-line-height: 1.5rem;
        --text-h6-line-height: 1.25rem;
    }
}

h1 {
    font-size: var(--text-h1);
    font-weight: 700;
    line-height: var(--text-h1-line-height);
}

h2 {
    font-size: var(--text-h2);
    font-weight: 700;
    line-height: var(--text-h2-line-height);
}

h3 {
    font-size: var(--text-h3);
    font-weight: 700;
    line-height: var(--text-h3-line-height);
}

h4 {
    font-size: var(--text-h4);
    font-weight: 700;
    line-height: var(--text-h4-line-height);
}

h5 {
    font-size: var(--text-h5);
    font-weight: 700;
    line-height: var(--text-h5-line-height);
}

h6 {
    font-size: var(--text-h6);
    font-weight: 700;
    line-height: var(--text-h6-line-height);
}

p {
    font-size: var(--text-body);
    font-weight: 400;
}

[data-theme="dark"] {
    --color-primary: #2563eb;
    --color-primary-light: #1f3a8a;
    --color-secondary: #83b2ff;
    --color-gray-dark: #e5e7eb;

    --bg-primary: #202020;
    --bg-secondary: #222222;
    --text-primary: #ffffff;
    --text-secondary: #bbbbbb;
}